%select-reset {
  position: relative;
  display: block;
  height: 55px;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border: 2px solid white;
  border-radius: 12px;
  background-image: url('/images/icons/icon-angle-down.png');
  background-size: 25px 17px;
  background-position: right 20px center;
  background-repeat: no-repeat;
  background-color: transparent;
  font-size: 32px;
  line-height: 1;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  box-sizing: border-box;
  appearance: none;
  &:focus {
    outline: none;
  }
}
