.ui {

  &-topbar {
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 10;
    @include below($desktop) {
      top: 40px;
    }
    @include below($tablet) {
      top: 20px;
    }
  }

  &-bottombar {
    position: absolute;
    bottom: 80px;
    right: 0;
    z-index: 10;
    @include below($tablet) {
      bottom: 60px;
      right: auto;
      left: 0;
    }
    @include below($sm) {
      bottom: 160px;
    }
  }

  &-head {
    position: relative;
  }

  &-type {
    @include font-default();
    font-size: 21px;
    line-height: 1;
    text-transform: uppercase;
    b {
      font-size: 1.7em;
      @include font-object();
    }
    @include below($desktop) {
      font-size: 18px;
    }
  }

  &-title {
    margin-bottom: 16px;
    @include font-object();
    font-size: 34px;
    line-height: 1;
    color: white;
    text-transform: uppercase;
    span {
      color: transparent;
      -webkit-text-stroke: 1px white;
    }
    @include below($desktop) {
      font-size: 24px;
    }
  }
  &-bar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    height: 20px;
    padding: 5px 0;
    border: 1px solid white;
    box-sizing: border-box;

    &-item {
      position: relative;
      margin: 0 2px;
      height: 100%;
      width: 40px;
      background: white;
      flex: 1 1;
      cursor: pointer;

      &:first-child {
        margin-left: 5px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      &:last-child {
        margin-right: 5px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      &:nth-last-child(-n+3) {
        text-align: right;
        .ui-bar-info {
          right: 0;
          left: auto;
        }
      }

      @include below($desktop) {
        width: 30px;
      }
    }
    
    &-info {
      visibility: hidden;
      position: absolute;
      left: 0;
      right: auto;
      top: 100%;
      opacity: 0;
      transition: all ease-in-out 400ms;
      transform: translateY(0);
      @include no-events();
      z-index: 1;
    }

    &-item.active {
      .ui-bar-info {
        visibility: visible;
        opacity: 1;
        transform: translateY(20px);
        @include below($desktop) {
          transform: translateY(10px);
        }
      }
    }

    
  }

  &-icon {
    display: inline-block;
    position: relative;
    width: 40px;
    img {
      @include img-fluid();
      margin: 0 auto;
    }
    @include below($desktop) {
      width: 30px;
    }
  }
  &-text {
    margin-top: 10px;
    @include font-default();
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    white-space: nowrap;
    @include below($desktop) {
      margin-top: 5px;
      font-size: 14px;
    }
  }
}

.ui-bar-item {
  &.white {
    background: #ffffff;
  }
  &.black {
    background: #0c0c00;
  }
  &.red {
    background: #840b0b;
  }
  &.grey {
    background: #494e52;
  }
  &.blue {
    background: #1e2333;
  }

  &.gloss-luxury-black {
    background: #0c0c00;
  }
  &.gloss-fire-red {
    background: #840b0b;
  }
  &.gloss-golden-beach {
    background: #745830;
  }
  &.gloss-satin-azure {
    background: #088bbb;
  }
  &.matte-brown {
    background: #55382b;
  }
  &.matte-gun-metal {
    background: #717575;
  }
  &.matte-hard-black {
    background: #373737;
  }
  &.reflective-zurikate {
    background: #ffffff;
  }
}

.ui-bar-item {
  &::after {
    content: "";
    clear: both;
    display: block;
    @include cover();
    box-sizing: border-box;
    background: rgba(255,255,255,0.5);
    background: linear-gradient(0deg, rgba(255,255,255,0.5), transparent 30%, transparent 70%, rgba(255,255,255,0.5));
    z-index: 1;
  }
  &:first-child::after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  &:last-child::after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}