.brands {
  position: relative;
  z-index: 5;
  &-content {
    display: block;
    padding-top: 40px;
    margin-bottom: 100px;
    background-image: url('/images/backgrounds/shop-now.jpg');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 640px;
    padding: 0 10px;
    box-sizing: border-box;

    @include below($tablet) {
      padding-top: 0;
      min-height: 420px;
      margin-bottom: 40px;
    }
  }
  &-title {
    @include font-object();
    font-size: 120px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
    span.stroke {
      color: transparent;
      font-size: 1.1em;
      -webkit-text-stroke: 1px $color-brand;
    }
    span.green {
      color: $color-brand;
    }

    @include below($desktop) {
      font-size: 80px;
    }
    @include below($laptop) {
      font-size: 40px;
    }
    @include below($phone) {
      font-size: 28px;
    }
  }
  &-caption {
    color: white;
    text-align: center;
    font-size: 26px;
    margin-bottom: 60px;

    @include below($phone) {
      font-size: 16px;
    }

  }
  &-btn {
    display: inline-block;
    font-size: 20px;
    background: $color-brand;
    color: black;
    text-align: center;
    padding: 6px 20px;
    border-radius: 6px;
    cursor: pointer;
    margin: 0 10px;
  }
  &-list {
    position: relative;
    margin-bottom: 60px;
    
    select {
      @extend %select-reset;
      @include below($tablet) {
        font-size: 21px;
        height: 40px;
        padding: 0 20px;
      }
    }
    option {
      background-color: black;
      color: white;
    }
  }
}