.brands {
  position: relative;
  // min-height: 50vh;
  z-index: 1;
  &-content {
    display: block;
    margin-bottom: 220px;
    @include below($tablet) {
      margin-bottom: 120px;
    }
  }
  &-title {
    @include font-object();
    font-size: 120px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 60px;
    span.stroke {
      color: transparent;
      font-size: 1.1em;
      -webkit-text-stroke: 1px $color-brand;
    }
    span.green {
      color: $color-brand;
    }

    @include below($desktop) {
      font-size: 80px;
    }
    @include below($laptop) {
      font-size: 40px;
    }
    @include below($phone) {
      font-size: 28px;
    }
  }
  &-list {
    position: relative;
    margin-bottom: 60px;
    
    select {
      @extend %select-reset;
      @include below($tablet) {
        font-size: 21px;
        height: 40px;
        padding: 0 20px;
      }
    }
    option {
      background-color: black;
      color: white;
    }
  }
}