
.contact {
  position: relative;
  z-index: 0;

  &-section {
    padding-bottom: 60px;
    max-width: $desktop - 120px;
  }

  &-info {
    margin-bottom: 30px;
    @include below($laptop) {
      max-width: 480px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 60px;
    }
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      padding: 0;
      margin: 0 0 24px;
      @include below($sm) {
        margin-bottom: 16px;
      }
    }
    .contact-item {
      display: flex;
      align-items: center;

      font-size: 26px;
      color: $color-brand;
      @include below($desktop) {
        font-size: 24px;
      }
      @include below($phone) {
        font-size: 18px;
      }
    }
    .icon {
      width: 60px;
      display: block;
      margin-right: 24px;
      img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
      }
      @include below($phone) {
        width: 40px;
        margin-right: 12px;
      }
    }
    span,
    a {
      text-decoration: none;
      &:focus {
        outline: none;
      }
    }
  }
  
  .page-lead {
    margin-bottom: 36px;
    margin-left: 350px;
  }

  &-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    img {
      display: block;
      max-width: 65%;
      width: 100%;
      height: auto;
      margin-bottom: 0;
    }
    @include below($laptop) {
      opacity: .4 !important;
    }
  }
}