
.faqs {
  position: relative;
  margin-top: 120px;
  margin-bottom: 120px;
  z-index: 1;

  @include below($sm) {
    padding-top: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  &-section {
    position: relative;
    max-width: $desktop + 40px;
    padding: 0 20px;
    @include below($sm) {
      padding: 0 10px;
    }
  }

  .page-title {
    margin-bottom: 80px;
    @include below($laptop) {
      margin-bottom: 40px;
    }
  }

  &-box {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
    @include below($laptop) {
      flex-direction: column-reverse;
      padding: 0;
    }
  }
  &-body {
    position: relative;
    flex: 1;
    max-width: 80ch;
    p {
      @include font-italic();
      font-size: 18px;
      line-height: 1.4;
      margin-top: 0;
      margin-bottom: 28px;
      @include below($tablet) {
        font-size: 21px;
      }
      @include below($sm) {
        font-size: 16px;
      }
    }
    a {
      text-decoration: none;
    }
    span {
      color: $color-brand;
    }
    p.lead {
      font-size: 24px;
      font-weight: bold;
      @include below($tablet) {
        font-size: 24px;
      }
      @include below($sm) {
        font-size: 21px;
      }
    }
  }
  &-media {
    position: relative;
    flex: none;
    padding: 0 20px;
    max-width: 320px;

    @include below($desktop) {
      max-width: 320px;
      padding: 0;
    }

    img {
      @include img-fluid();
    }
  }
}