
.gallery {
  position: relative;
  margin-top: 200px;
  z-index: 1;

  @include below($sm) {
    margin-top: 120px;
    padding-top: 10px;
  }

  &-section {
    position: relative;
    max-width: $hd - 60px;
    padding: 0 50px;
    @include below($sm) {
      padding: 0 10px;
    }
  }

  .page-title {
    margin-bottom: 20px;
  }

  &-title {
    margin-bottom: 12px;
    font-size: 21px;
    font-weight: 700;
    font-style: italic;
    line-height: 1;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    box-sizing: border-box;
    &.alter {
      margin-top: 12px;
      font-weight: 400;
      letter-spacing: 0.14em;
      text-align: right;
      @include below($tablet) {
        font-size: 14px;
      }
      @include below($sm) {
        font-size: 12px;
      }
    }

    @include below($hd) {
      font-size: 26px;
    }
    @include below($desktop) {
      font-size: 21px;
    }
    @include below($tablet) {
      font-size: 18px;
    }
    @include below($sm) {
      font-size: 12px;
    }
  }

  &-media {
    display: flex;
    gap: 15px;
    @include below($laptop - 92px) {
      flex-direction: column;
    }
  }

  &-item {
    flex: 1;
    img {
      @include img-fluid();
    }
  }

  &-swiper {
    position: relative;
    margin-bottom: 60px;
  }
}