.products {

  &-container {
    position: relative;
  }

  &-section {
    position: relative;
    max-width: 1540px;
    margin-left: auto;
    margin-right: auto;
  }

  &-view {
    position: relative;
    padding-top: 0;
    margin-bottom: 120px;
    box-sizing: border-box;
    @include below($laptop) {
      margin-bottom: 90px;
    }
  }

  &-promo {
    position: relative;
    // margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @include center($desktop);
  }

  &-swiper {
    position: relative;
    width: 620px;
    padding: 0 40px;
    box-sizing: border-box;

    @include below($desktop) {
      width: 100%;
      max-width: 540px;
      margin-left: auto;
      margin-right: auto;
    }
    @include below($laptop) {
      margin-bottom: 60px;
    }
    @include below($sm) {
      margin-bottom: 20px;
      padding: 0 20px;
    }

    .swiper-wrapper {
      width: 100%;
      max-width: 540px;
      padding-bottom: 40px;
      margin: 0 auto;

      .swiper-pagination {
        @include below($laptop) {
          text-align: center;
        }
      }
    }

    .swiper-arrows {
      @include below($sm) {
        display: none;
      }
    }

    @include below($sm) {
      .swiper-pagination .swiper-pagination-bullet {
        width: 4px !important;
        height: 4px !important;
      }
    }

  }

  &-nav {
    position: relative;
  }

  &-thumbs {
    position: relative;
    max-width: $desktop;
    margin: 0 auto;
    padding: 0 10px;
    gap: 8px;
    padding-bottom: 60px;
    margin-bottom: 20px;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    // touch-action: pan-x;
  }
  
}

.product {

  &-tip {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.8);
    img {
      @include img-responsive();
    }
    video {
      display: block;
      width: 100%;
      max-width: 645px;
      height: auto;
      margin-bottom: 0;
    }
  }

  &-promo {
    img {
      @include img-responsive();
      max-width: 540px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  &-thumb {
    position: relative;
    display: inline-block;
    width: 120px;
    margin: 0 4px;
    cursor: pointer;

    @include below($sm) {
      width: 110px;
    }
    
    .thumb-img {
      @include img-responsive();
      border-radius: 10px;
    }

    &:hover .product-tooltip,
    &.active .product-tooltip {
      opacity: 1;
    }
  }

  &-tooltip {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 1;
    text-align: center;
    span {
      margin-top: 8px;
      display: block;
      font-size: 12px;
      text-transform: uppercase;
      // transform: translateX(-50%);
      @include below($sm) {
        font-size: 10px;
      }
    }
    img {
      display: block;
      margin-top: 8px;
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &-media {
    position: relative;
    max-width: 1520px;
    min-height: 640px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;

    @include below($laptop) {
      max-height: 768px;
    }

    @include below($sm) {
      min-height: 90vh;
      overflow: hidden;
    }

    img {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: auto;
      max-height: 100vh;
      object-fit: contain;
      object-position: center;
      z-index: 0;
      @include below($desktop){
        width: 100%;
        max-height: none;
      }
      @include below($sm) {
        object-fit: cover;
        object-position: 40% center;
        width: 125%;
        height: 85%;
        margin-bottom: 15%;
        margin-left: -15%;
      }
    }

    &::before,
    &::after {
      display: none;
      content: '';
      clear: both;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 220px;
      z-index: 1;
      @include no-events();

      @include below($tablet) {
        display: none;
      }
    }

    &::before {
      left: 0;
      background: linear-gradient(90deg, black, transparent);
    }
    &::after {
      right: 0;      
      background: linear-gradient(-90deg, black, transparent);
    }
  }

  &-ui {
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    bottom: 0;
    z-index: 1;
  }

  &-details {
    text-align: center;
    @include center(360px);
    box-sizing: border-box;
    margin-bottom: 40px;
    .btn {
      flex: none;
      background-color: white;
      color: black;
      @include below($desktop) {
        font-size: 16px;
        padding: 0 15px;
      }
      @include below($laptop) {
        margin-bottom: 12px;
      }
    }

    @include below($laptop) {
      flex-direction: column;
      align-items: flex-start;
      left: 24px;
    }
    @include below($tablet) {
      left: auto;
      right: 15px;
      bottom: auto;
      top: 60px;
      align-items: flex-end;
    }
    @include below($sm) {
      top: auto;
      bottom: 0;
    }
  }

  &-name {
    text-align: center;
    flex: 1;
    font-size: 18px;
    font-style: italic;
    @include center(540px);
    
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid white;
    border-radius: 10px 10px 0 0;
    border-bottom: 5px solid grey;
    box-sizing: border-box;

    strong {
      display: block;
      font-weight: bold;
      margin-bottom: 4px;
    }
    p {
      font-size: 14px;
      opacity: 0.5;
    }
    p:first-child {
      opacity: 1;
    }
    @include below($desktop) {
      font-size: 16px;
      line-height: 1.2;
      max-width: 460px;
    }
    @include below($tablet) {
      font-size: 14px;
    }
    @include below($sm) {
      max-width: 540px;
      // margin-left: 10px;
      // margin-right: 10px;
      // width: auto;
    }
  }

  &-price {
    line-height: 1;
    margin-bottom: 30px;
    font-size: 24px;
    sup {
      text-transform: uppercase;
      font-size: 1em;
    }
    strong {
      font-size: 1.5em;
      font-weight: bold;
      margin: 0 8px;
    }
    span {
      font-size: 1em;
    }
    @include below($tablet) {
      font-size: 21px;
      margin-bottom: 20px;
    }
  }

  &-panel {
    position: relative;
    @include center(360px);
    box-sizing: border-box;

    @include below($sm) {
      padding: 0 15px;
    }

    .ui-select {
      font-size: 16px;
    }
    .ui-select-placeholder,
    .ui-select-item {
      padding-left: 15px;
      // padding-right: 15px;
      padding-right: 55px;
    }
  }
  
  &-control {
    position: relative;
    margin-bottom: 10px;
  }

  &-actions {
    .product-control {
      min-height: 65px;
      margin-bottom: 0;
    }
  }

}


.loading-media {
  @include absolute(0,0,0,0);
  z-index: 500;
  user-select: none;
  background-color: black;
  opacity: .6;
  box-sizing: border-box;

  display: none;
  justify-content: center;
  align-items: center;

  z-index: 1;

  &.active {
    display: flex;
  }

  &-box {
    display: inline-block;
    vertical-align: middle;
    span {
      display: inline-block;
      vertical-align: middle;
      width: 8px;
      height: 8px;
      margin: 0 4px;
      border-radius: 100%;
      background-color: white;
      animation: pulseBullet 600ms ease-in-out infinite both;
    }
    span:nth-child(1){
      animation-delay: 0ms;
    }
    span:nth-child(2){
      animation-delay: 100ms;
    }
    span:nth-child(3){
      animation-delay: 200ms;
    }
  }
}

@keyframes pulseBullet {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}