.products {

  &-container {
    position: relative;
  }

  &-section {
    position: relative;
    max-width: 1540px;
    margin-left: auto;
    margin-right: auto;
  }

  &-view {
    position: relative;
    padding-top: 0;
    margin-bottom: 120px;
    box-sizing: border-box;
    @include below($laptop) {
      margin-bottom: 90px;
    }
  }

  &-swiper {
    position: relative;
    width: 680px;
    padding: 0 40px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

    @include below($desktop) {
      width: 100%;
      max-width: 540px;
      margin-left: auto;
      margin-right: auto;
    }
    @include below($laptop) {
      margin-bottom: 60px;
    }
    @include below($sm) {
      margin-bottom: 40px;
      padding: 0;
    }

    .swiper-container {
      width: 100%;
      max-width: 600px;
      padding-bottom: 60px;
      margin: 0 auto;

      .swiper-pagination {
        @include below($laptop) {
          text-align: center;
        }
      }
    }

    .swiper-arrows {
      @include below($sm) {
        display: none;
      }
    }

  }
  
}


.product {

  &-tip {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.8);
    img {
      @include img-responsive();
    }
    video {
      display: block;
      width: 100%;
      max-width: 645px;
      height: auto;
      margin-bottom: 0;
    }
  }

  &-media {
    position: relative;
    max-width: 1520px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;

    @include below($sm) {
      min-height: 90vh;
    }

    img {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: auto;
      max-height: 100vh;
      object-fit: contain;
      object-position: center;
      z-index: 0;
      @include below($desktop){
        width: 100%;
        max-height: none;
      }
      @include below($sm) {
        object-fit: cover;
        object-position: 40% center;
        width: 140%;
        height: 85%;
        margin-bottom: 15%;
        margin-left: -15%;
      }
    }

    &::before,
    &::after {
      display: none;
      content: '';
      clear: both;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 220px;
      z-index: 1;
      @include no-events();

      @include below($tablet) {
        display: none;
      }
    }

    &::before {
      left: 0;
      background: linear-gradient(90deg, black, transparent);
    }
    &::after {
      right: 0;      
      background: linear-gradient(-90deg, black, transparent);
    }
    @include below($laptop) {
      max-height: 768px;
    }
  }

  &-ui {
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    bottom: 0;
    z-index: 1;
  }

  &-info {
    position: absolute;
    bottom: 10px;
    left: 0;
    display: flex;
    align-items: center;
    max-width: 70%;

    .btn {
      flex: none;
      @include below($desktop) {
        height: 35px;
        font-size: 16px;
        padding: 0 15px;
      }
      @include below($laptop) {
        margin-bottom: 12px;
      }
    }

    @include below($laptop) {
      flex-direction: column;
      align-items: flex-start;
      left: 24px;
    }
    @include below($tablet) {
      left: auto;
      right: 15px;
      bottom: auto;
      top: 60px;
      align-items: flex-end;
    }
    @include below($sm) {
      top: auto;
      bottom: 0;
    }
  }

  &-name {
    margin-left: 24px;
    flex: 1;
    font-size: 22px;
    font-style: italic;
    max-width: 40ch;
    &::first-line {
      font-weight: bold;
    }
    @include below($desktop) {
      font-size: 16px;
      line-height: 1.2;
    }
    @include below($laptop) {
      margin-left: 0;
    }
    @include below($tablet) {
      font-size: 14px;
    }
  }

  &-price {
    line-height: 1;
    margin-bottom: 30px;
    font-size: 24px;
    sup {
      text-transform: uppercase;
      font-size: 1em;
    }
    strong {
      font-size: 1.5em;
      font-weight: bold;
      margin: 0 8px;
    }
    span {
      font-size: 1em;
    }
    @include below($tablet) {
      font-size: 21px;
      margin-bottom: 20px;
    }
  }

  &-panel {
    position: relative;
    @include center(360px);
    box-sizing: border-box;

    @include below($sm) {
      padding: 0 15px;
    }

    .ui-select {
      font-size: 21px;
      @include below($tablet) {
        font-size: 18px;
      }
    }
    .ui-select-placeholder,
    .ui-select-item {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  
  &-control {
    position: relative;
    margin-bottom: 10px;
  }

  &-actions {
    .product-control {
      min-height: 65px;
      margin-bottom: 0;
    }
  }

}