
.skins {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // min-height: 60vh;
  margin-bottom: 120px;

  @include below($sm) {
    // min-height: 70vh;
    margin-bottom: 60px;
  }

  &-container {
    flex: 1;
    margin-top: 90px;
    min-width: 0;
  }

  &-section {
    position: relative;
  }

  &-swiper {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  &-grid {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 10px;
    @include below($laptop) {
      max-width: 660px;
      grid-template-columns: 1fr 1fr;
    }
    @include below($sm) {
      // max-width: 320px;
      // grid-template-columns: 1fr;
    }
  }

  .swiper-slide {
    width: auto;
    cursor: pointer;
  }
}

.skin {
  position: relative;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;

  @include below($sm) {
    width: 240px;
  }

  @include below($sm) {
    width: auto;
  }

  &-media {
    position: relative;
    margin-bottom: 12px;
    img {
      @include img-fluid();
    }
  }

  &-title {
    font-size: 20px;
    line-height: 1.2;
    color: white;
    margin-bottom: 4px;
    @include below($laptop) {
      font-size: 16px;
      text-align: center;
    }
    @include below($sm) {
      font-size: 14px;
    }
  }
  &-description p {
    font-size: 14px;
    font-style: italic;
    line-height: 1.2;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    @include below($laptop) {
      text-align: center;
    }
    @include below($sm) {
      font-size: 12px;
    }
  }
}