
.swiper-container {
  
  &.swiper-container-horizontal > .swiper-pagination-bullets {
    @include below($phone) {
      bottom: 0;
    }
  }
  &.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 20px;
    @include below($phone) {
      margin: 0 10px;
    }
  }

  .swiper-pagination {
    @include below($laptop) {
      padding: 0 10px;
      text-align: right;
    }
  }

  .swiper-pagination-bullet {
    position: relative;
    opacity: 1;
    width: 10px;
    height: 10px;
    background-color: white;
    &-active {
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: -10px;
        left: -10px;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: 1px solid white;
        box-sizing: border-box;
        @include below($phone) {
          width: 20px;
          height: 20px;
          top: -5px;
          left: -5px;
        }
      }
    }
  }
}