.hidden-visibility {
  visibility: hidden;
  opacity: 0;
}

.breakline {
  display: block;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  &:disabled,
  &[disabled] {
    cursor: not-allowed;
  }
}

.overflow-hidden {
  overflow: hidden;
}